<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>My Journey Unfolded</h1>
<h2></h2>

<ul>
    {% for post in object.posts.all %}
        <li>{{ post.caption }}</li>
    {% endfor %}
</ul>

<img class="irc_mi" src="https://steemitimages.com/DQmXS82pGijEG5dN91LzhrgquXwedH3KUm52jjEmCjmgW54/Travel%20Diary%20Logo%202.jpg" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" alt="Image result for TRAVEL DIARIES LOGOS" width="490" height="202" style="margin-top: 76px;" data-iml="1553096652966">


</body>
</html>